/*  your css code here. If applicable */

.cards-wrapper{
	display:grid;
	grid-template-rows:1fr ;
	grid-template-columns:repeat(3,1fr) ;
	background-color:#fafafa;
	font-size:24px;
}
.card{
	display:flex;
	
	flex-direction:column;
	justify-content:center;
	flex-wrap:wrap;
	border:10px solid #ccc;
}

h1{
	font-size:1.5em;
}
p{
	font-size:0.75em;
}
.one{
	grid-column:1/2;
	}
.second{
	grid-column:2/3;
}
.three{
	grid-column:3/4;
	}